.fontJetBrainsMono() {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: normal;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: italic;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Italic.woff2') format('woff2');
}

/*
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: normal;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-style: italic;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
}
*/

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: normal;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-style: italic;
    src: data-uri('font/woff2;base64', 'fonts/jetbrains-mono/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
}
